<section class="comp section-color block" >
		<div class="wawe"></div>
	<div class="container container-wawe">

		<h2 class="title" id="composition">Почему крем <span class="name-pack"><img class="ib" src="img/nomidol.png" alt="nomidol"></span> <br>
			способствует устранению грибка?</h2>
			<div class="comp-content">
				<div class="comp-box">
					<div class="comp-box__img"><img src="img/comp-1.png" alt="component"></div>
					<div class="comp-box__title">Масло ши</div>
					<div class="comp-box__sub">Активизирует микроциркуляцию крови в клетках кожи. Ускоряет процессы восстановления кожного покрова.</div>
				</div>
				<div class="comp-box">
					<div class="comp-box__img"><img src="img/comp-2.png" alt="component"></div>
					<div class="comp-box__title">Пантенол</div>
					<div class="comp-box__sub">Проникает глубоко в клетки<br>
						кожи, снимает раздражения<br>
						и воспаления. Ускоряет заживление кожи.	</div>
				</div>
				<div class="comp-box">
					<div class="comp-box__img"><img src="img/comp-3.png" alt="component"></div>
					<div class="comp-box__title">Витамин Е</div>
					<div class="comp-box__sub">Способствует быстрому заживлению ран и трещин на коже. Ускоряет обменные процессы в клетках кожи, активизирует обновление клеток.	</div>
				</div>
			</div>
	</div>
</section>