<section class="symptoms block section-color">
	<div class="wawe"></div>
	<div class="container">
		<h2 class="title">Без необходимых мер первые симптомы грибка<br>
			могут перерасти в <span class="orange">серьезные проблемы</span></h2>
			<div class="symptoms-content">
				<div class="symptoms-box">
					<div class="symptoms-box__img"><img src="img/symp-1.png" alt="symptom"></div>
					<div class="symptoms-box__title">Волдыри<br> на стопах</div>
				</div>
				<div class="symptoms-box">
					<div class="symptoms-box__img"><img src="img/symp-2.png" alt="symptom"></div>
					<div class="symptoms-box__title">Трещины<br>
						на коже</div>
				</div>
				<div class="symptoms-box">
					<div class="symptoms-box__img"><img src="img/symp-3.png" alt="symptom"></div>
					<div class="symptoms-box__title">Острая боль<br>
						при ходьбе</div>
				</div>
				<div class="symptoms-box">
					<div class="symptoms-box__img"><img src="img/symp-4.png" alt="symptom"></div>
					<div class="symptoms-box__title">Аллергия<br>
						и сыпь</div>
				</div>
				<div class="symptoms-box">
					<div class="symptoms-box__img"><img src="img/symp-5.png" alt="symptom"></div>
					<div class="symptoms-box__title">Заражение<br>
						внутренних органов</div>
				</div>
			</div>
			<div class="symptoms-warning">Если не избавиться от грибка своевременно,<br> 
				может потребоваться <span>госпитализация</span>.</div>
			
	</div>
	<a href="#info" class="symptoms-arrow"></a>
</section>