.footer {
	font-size: 16px;
	line-height: 1;
	color: #666;
	padding: 20px 0;
}

.footer-wrap {
	text-align: center;
}

.footer-wrap__logo {
	width: 54px;
	margin: 0 auto 15px;
}

.footer-wrap__privacy {
	color: #666666;
	text-decoration: underline;
}

.footer-wrap__privacy:hover {
	text-decoration: none;
}

@media screen and (min-width: 1024px){
	.footer {
		padding-top: 60px;
	}
}