<section class="reviews block">
	<div class="container">
		<h2 class="title">Отзывы</h2>
		<div class="reviews-content">
			<div class="reviews-box">
				<div class="reviews-box-top">
					<div class="reviews-box__img"><img src="img/avatar-1.png" alt="avatar"></div>
					<div class="reviews-box-user">
						<div class="reviews-box__name">Алексей, 46 лет,</div>
						<div class="reviews-box__city">г. Кучинг</div>
					</div>
				</div>
				<div class="reviews-box__text">С грибком стопы я боролся уже больше года. Опробовал мази, таблетки, но они помогали только на время приема. Стоило только прекратить, как грибок возвращался. Вернулся к привычной жизни я только после курса Nomidol. Делал все по инструкции — мазал 2 раза в день. Очень удобно, что крем буквально за 1 минуту впитывается.</div>
				<div class="reviews-box__btn">
						<div class="reviews-box__plus"></div>
					</div>
			</div>
			<div class="reviews-box">
					<div class="reviews-box-top">
						<div class="reviews-box__img"><img src="img/avatar-2.png" alt="avatar"></div>
						<div class="reviews-box-user">
							<div class="reviews-box__name">Анжела, 47 лет,</div>
							<div class="reviews-box__city">г. Малакка</div>
						</div>
					</div>
					<div class="reviews-box__text">У меня был серьезный грибок. Врач даже приписал таблетки, но у меня с печенью и так проблемы. Я лечилась разными другими средствами, в том числе и народными, но результата не было. Крем Номидол стал шестым или седьмым препаратом. И он наконец помог! Наносила на ступни перед работой и перед сном. Буквально быстро делает кожу более нежной. И запах довольно приятный.</div>
					<div class="reviews-box__btn">
							<div class="reviews-box__plus"></div>
						</div>
				</div>
				<div class="reviews-box">
						<div class="reviews-box-top">
							<div class="reviews-box__img"><img src="img/avatar-3.png" alt="avatar"></div>
							<div class="reviews-box-user">
								<div class="reviews-box__name">Валерий, 48 лет,</div>
								<div class="reviews-box__city">г. Джорджтаун</div>
							</div>
						</div>
						<div class="reviews-box__text">Этот крем избавил меня от грибка, которым я болел многие годы. Еще в молодости подцепил эту болячку, когда играл в футбол в кроссовках друга. Временами появлялся зуд, потом опять пропадал. И все казалось пройдет само по себе. И даже когда появились явные признаки грибка, думал, что сейчас помажу какой-нибудь мазью и все пройдет. Но шли годы, а ничего не помогало. Когда купил nomidol (увидел его в рекламе), то тоже особых надежд не питал. Но, оказалось, что от грибка можно избавиться. Проверено.</div>
						<div class="reviews-box__btn">
								<div class="reviews-box__plus"></div>
							</div>
				</div>
		</div>
	</div>
</section>