<section class="use block">
	<div class="container">
		<h2 class="title">Как применять <br><span class="name-pack"><img src="img/nomidol.png" alt="nomidol"></span></h2>
		<div class="use-content">
			<div class="use-pack"><div class="info-pack__bg"></div><img src="img/product.png" alt="Nomidol"></div>
			<div class="use-text">
				<div class="use-text-box">
					<div class="use-text__img">
						<img src="img/use-1.png" alt="use">
						<span class="use-text__check"></span>
					</div>
					<div class="use-text__main">
						<div class="use-text__number">1.</div>
						<div class="use-text__sub">Небольшое количество крема<br>
								нанести на пораженный участок кожи</div>
					</div>
				</div>
				<div class="use-text-box">
						<div class="use-text__img">
							<img src="img/use-2.png" alt="use">
							<span class="use-text__check"></span>
						</div>
						<div class="use-text__main">
							<div class="use-text__number">2.</div>
							<div class="use-text__sub">Распределите его легкими<br>
									массажными движениями</div>
						</div>
					</div>
					<div class="use-text-box">
							<div class="use-text__img">
								<img src="img/use-3.png" alt="use">
								<span class="use-text__check"></span>
							</div>
							<div class="use-text__main">
								<div class="use-text__number">3.</div>
								<div class="use-text__sub">Наносите <b>2 раза</b> в день в течение<br>
										не менее <b>30 дней</b></div>
							</div>
						</div>
			</div>
		</div>
	</div>
</section>