<section class="info block">
	<div class="container">
		<div class="info-content">
			<div class="info-pack"><div class="info-pack__bg"></div><img src="img/product.png" alt="Nomidol"></div>
			<div class="info-box">
				<h2 class="info-box__title title">Хватит мучиться —<br>
					начните применять <span class="clip-text"><img src="img/nomidol.png" alt="nomidol"></span></h2>
					<p class="info-box__subtitle">Крем <span class="orange">Nomidol</span> проникает в глубокие слои кожи, устраняя все типы грибковой инфекции.</p>
					<div class="info-box__text">За 1 курс он поможет полностью восстановить вашу кожу и уберечь ее
						от повторных заражений. Вы вернетесь к нормальной жизни! </div>
						<div class="info-box__btn button">Заказать Nomidol</div>
			</div>
		</div>
	</div>
</section>