<section class="home section-color">
    <div class="container">
        <!--<div class="home-body">-->
        <!--<img class="home-body__legs" src="img/home-legs.png" alt="">-->
        <!--<img class="home-body__protect" src="img/home__legs-protect.png" alt="">-->
        <!--</div>-->
        <!--<header class="header">-->
            <!--<div class="logo-wrap">-->
                <!--<div class="logo-wrap__img">-->
                    <!--<img src="img/logo.png" alt="">-->
                <!--</div>-->
                <!--<p class="logo-wrap__text">Antifungal Cream</p>-->
            <!--</div>-->
        <!--</header>-->
        <div class="home-wrap">
            <!--<div class="home-wrap__content">-->
                <!--<h1 class="home-title">-->
                    <!--Избавьтесь от грибка стоп за 1 курс с кремом-->
                    <!--<span class="home-title_another">Nomidol</span>-->
                <!--</h1>-->
                <!--<div class="home-list">-->
                    <!--<div class="home-item">-->
                        <!--<div class="home-item__img">-->

                        <!--</div>-->
                        <!--<p class="home-item__title"></p>-->
                        <!--<p class="home-item__text"></p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="home-product">-->
                <!--<img src="img/product.png" alt="">-->
            <!--</div>-->
            <div class="form home__form">
                <div class="form-header">
                    <p class="form-title">
                        Закажите сейчас
                        <span class="form-title_orange">по Акции</span>
                    </p>
                    <div class="price">
                        <div class="price-item price-old">
                            <p class="price-title price-title_old">Старая цена:</p>
                            <div class="price-content price-content_old">
                                <span class="x_price_previous">918</span><span class="x_currency">грн</span>
                            </div>
                        </div>
                        <div class="price-item price-new">
                            <p class="price-title price-title_new">Ваша цена:</p>
                            <div class="price-content price-content_new">
                                <span class="x_price_current">459</span><span class="x_currency">грн</span>
                            </div>
                        </div>
                    </div>
                    <span class="form-line"></span>
                </div>
                <div class="timer-box">
                    <p class="timer-title">Осталось до конца акции</p>
                    <div class="timer-wrap">
                        <div class="timer-item">
                            <p class="hours">0</p>
                        </div>
                        <p class="timer-wrap__separator">:</p>
                        <div class="timer-item">
                            <p class="minutes">0</p>
                        </div>
                        <p class="timer-wrap__separator">:</p>
                        <div class="timer-item">
                            <p class="seconds">0</p>
                        </div>
                    </div>
                </div>
                <button class="button ever-popup-btn">
                    <span class="button__text-1">Заказать</span>
                </button>
            </div>
        </div>
    </div>
</section>