<section class="delivery block" id="delivery">
	<div class="container">
		<h2 class="title">Как заказать доставку крема <br><span class="name-pack"><img src="img/nomidol.png" alt="nomidol"></span></h2>
		<div class="delivery-content">
			<div class="delivery-box">
				<div class="delivery-box__img"><img src="img/del-1.png" alt="delivery"></div>
				<div class="delivery-box__title">Заполните форму заказа</div>
				<div class="delivery-box__text">Укажите только свое имя и номер телефона</div>
			</div>
			<div class="delivery-box">
				<div class="delivery-box__img"><img src="img/del-2.png" alt="delivery"></div>
				<div class="delivery-box__title">Ответьте на звонок оператора</div>
				<div class="delivery-box__text">Он уточнит ваши адресные данные<br>
					и ответит на все вопросы о Nomidol</div>
			</div>
			<div class="delivery-box">
				<div class="delivery-box__img"><img src="img/del-3.png" alt="delivery"></div>
				<div class="delivery-box__title">Оплатите после получения</div>
				<div class="delivery-box__text">Никаких предоплат!</div>
			</div>
		</div>
	</div>
</section>