// $mainColor: #000

body {	
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}
html{
	overflow-x: hidden;
}
img {
	max-width: 100%;
}

svg {
	overflow: hidden;
}

.container {
	width: 1230px;
	margin: 0 auto;
	padding: 0 25px;
	@include r(1219) {
		width: 1024px;
	}
	@include r(1023) {
		width: 768px;
		padding: 0 10px;
	}
	@include r(767) {
		width: 640px;
	}
	@include r(639) {
		width: 480px;
	}
	@include r(479) {
		width: 100%;
	}
}

.title {	
	color: #000;
	font-size: 44px;
	font-weight: 900;
	line-height: 44px;
	text-align: center;
	@include r(1219){
		font-size: 42px;
	}
	@include r(1023){	
		font-size: 36px;
		line-height: 1.1;
	}
	@include r(767){	
		font-size: 32px;
	}
	@include r(639){	
		font-size: 29px;
	}
	@include r(479){	
		font-size: 26px;
	}
}

.text-bold {
	font-weight: 700;
}
.orange{
	color: #e9862c;
}
.text-black {
	font-weight: 900;
}

.text-nowrap {
	white-space: nowrap;
}

.section-color {
	position: relative;
	background: #fef3eb;
}

.section-color:before,
.section-color:after {
	content: "";
	position: absolute;
	width: 648px;
	height: 543px;
	top: 50%;
	background: url("../img/section-color.png") no-repeat center;
	@include r(1023) {
		display: none;
	}
}

.section-color:before {
	left: 50%;
	transform: translateY(-50%) translateX(-220%);
}

.section-color:after {
	right: 50%;
	transform: translateY(-50%) translateX(220%) scale(-1, 1);
}
.wawe{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	@include r(1023) {
		display: none;
	}
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 78px;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		background: url(../img/wawe-top.png) repeat-x center;
		@include r(1219) {
			height: 46px;
			background: url(../img/wawe-top.png) repeat-x bottom;
		}
	}
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 107px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background: url(../img/wawe-bottom.png) repeat-x center;
		@include r(1219) {
			height: 75px;
			background: url(../img/wawe-bottom.png) repeat-x top;
		}
	}
}

.form {
	position: relative;
	width: 264px;
	z-index: auto;
	flex: none;
	background: #fff;
	box-shadow: 0 0 0 3px #fcb97e;
	border-radius: 5px;
	padding: 35px 20px 25px;
}

.form:before,
.form:after{
	content: "";
	position: absolute;
}

.form:before {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #93b02e url("../img/form__timer-icon.svg") no-repeat center;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form:after {
	background: url("../img/form-arrow.png") no-repeat center;
	top: 115px;
	right: -25px;
	width: 43px;
	height: 229px;
}

.form-header {
	position: relative;
	border-radius: 5px 5px 0 0;
}

.form-title {
	color: #000;
	font-size: 24px;
	line-height: 1.1;
	font-weight: 500;
	text-align: center;
	margin-bottom: 15px;
}

.form-title_orange {
	white-space: nowrap;
	color: #f88b38;
}

.price {
	display: flex;
	position: relative;
	margin-bottom: 15px;
}

.price:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 2px;
	background: rgba(209,208,208,.6);
	left: 50%;
	bottom: 0;
}

.price-item {
	width: 50%;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
}

.price-old {
	color: #666;
	padding-right: 10px;
}

.price-new {
	padding-left: 10px;
}

.price-title {
	margin-bottom: 8px;
}

.price-title_old {
	font-size: 13px;
	line-height: 1;
}

.price-title_new {
	color: #f88b38;
	font-size: 14px;
	line-height: 1;
}

.price-content_old {
	color: #a2a1a1;
}

.price-content_new {
	color: #f88b38;
	font-weight: 700;
}

.x_price_current {
	display: inline-block;
	font-size: 40px;
	line-height: .8;
	font-weight: 900;
}

.home__form .x_price_current {
	font-size: 40px;
}

.x_price_previous {
	position: relative;
	display: inline-block;
	font-size: 28px;
	line-height: 1;
}

.x_price_previous:after, .x_price_previous:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 13px;
	width: 100%;
	height: 2px;
	background: #f01d07;
}

.x_price_previous:before {
	transform: rotate(20deg);
}

.x_price_previous:after {
	transform: rotate(-20deg);
}

.x_currency {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
}

.home__form .form-line {
	position: relative;
	display: block;
	width: 100%;
	height: 2px;
	background: #d1d0d0;
	margin-bottom: 12px;
}

.home__form .form-line:after {
	content: "";
	position: absolute;
	background-color: #fff;
	width: 15px;
	height: 15px;
	left: 50%;
	top: -7px;
	transform: rotate(45deg);
	box-sizing: border-box;
	border-bottom: 2px solid #d1d0d0;
	border-right: 2px solid #d1d0d0;
	margin-left: -7.5px;
}

.timer-box {
	margin-bottom: 15px;
}

.timer-title {
	color: #000;
	font-size: 20px;
	line-height: 1.1;
	max-width: 180px;
	margin: 0 auto 10px;
	text-align: center;
}

.timer-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

.timer-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: #faece2;
	color: #000000;
	font-size: 30px;
	line-height: 1;
	font-weight: 700;
	border-radius: 50%;
}

.timer-wrap__separator {
	color: #000000;
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
}


.button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	cursor: pointer;
	background-color: #a8c13f;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 5px 0 0 #93b02e, 0px 18px 9px -8px rgba(147, 176, 46, 0.8);
	outline: 0;
	transition: .7s;
}

.button:hover {
	background-image: linear-gradient(to right, #a8c13f 0%, #8ea52d 100%);
	box-shadow: 0 5px 0 0 #93b02e, 0px 22px 9px -8px rgba(147, 176, 46, 0.8);
}

.home__form .button {
	min-height: 60px;
}

.button__text-1, .button__text-2 {
	display: inline-block;
	line-height: 1;
}

.button__text-1 {
	font-size: 27px;
	font-weight: 700;
}

.button__text-2 {
	font-size: 20px;
	font-weight: 400;
}