<section class="reasons block">
	<div class="container">
		<h2 class="title">Почему на ваших ногах<br> <span class="orange">начал развиваться грибок</span></h2>
			<div class="reasons-content">
				<div class="reasons-box">
					<div class="reasons-box__img"><img src="img/reas-1.png" alt="reason"></div>
					<div class="reasons-box__title">Вы носите<br>
						закрытую обувь</div>
						<div class="reasons-box__text">Идеальное место<br>
							для грибка – туфли,<br>
							ботинки или кроссовки<br>
							с ограниченным доступом воздуха
							</div>
				</div>
				<div class="reasons-box">
					<div class="reasons-box__img"><img src="img/reas-2.png" alt="reason"></div>
					<div class="reasons-box__title">Бываете в спортзале<br>
						или на пляже</div>
						<div class="reasons-box__text">Ходить в теплых или влажных местах общего пользования босиком – верная дорога
							<span class="text-nowrap">к грибку</span></div>
				</div>
				<div class="reasons-box">
					<div class="reasons-box__img"><img src="img/reas-3.png" alt="reason"></div>
					<div class="reasons-box__title">У вас<br>
						лишний вес</div>
						<div class="reasons-box__text">Ноги потеют сильнее из-за большой нагрузки на стопы,<br>
							а потливость со временем перерастает в грибок	</div>
				</div>
				<div class="reasons-box">
					<div class="reasons-box__img"><img src="img/reas-4.png" alt="reason"></div>
					<div class="reasons-box__title">Ваш иммунитет<br>
						ослаблен</div>
						<div class="reasons-box__text">В организме легко<br>
							развивается грибок,<br>
							если падает общая<br>
							или местная<br> сопротивляемость	</div>
				</div>
			</div>
			<div class="reasons-second__title">Грибок распространяется легко и быстро. <br>
				<span class="orange">Эти симптомы со временем могут усиливаться</span></div>
				<div class="reasons-second">
						<ul class="reasons-second-left">
								<li class="reasons-second__item"><span>Зуд</span><span class="reasons-circle"></span></li>
								<li class="reasons-second__item"><span>Неприятный запах ног</span><span class="reasons-circle"></span></li>
								<li class="reasons-second__item"><span>Покраснения</span><span class="reasons-circle"></span></li>
						</ul>
						<div class="reasons-second-center">
							<div class="reasons-second__img"><img src="img/reas-leg.jpg" alt="fungus"></div>
							
						</div>
						<ul class="reasons-second-right">
							<li class="reasons-second__item"><span class="reasons-circle"></span><span>Сухость кожи</span></li>
							<li class="reasons-second__item"><span class="reasons-circle"></span><span>Расслоения кожи</span></li>
							<li class="reasons-second__item"><span class="reasons-circle"></span><span>Пожелтевшие ногти</span></li>
					</ul>
				</div>
				<div class="reasons-second__btn button ever-popup-btn">Заказать Nomidol</div>
	</div>
</section>