<section class="doctor block section-color">
	<div class="wawe"></div>

	<div class="container container-wawe">
			<div class="doctor-img"></div>
			<div class="doctor-content">
			
					<div class="doctor__name">Ача Мунаф, </div>
					<div class="doctor__prof">медицинский журналист</div>
					<div class="doctor__title">“Даже если симптомы ушли,<br>
							грибок может оставаться<br>
							в организме”</div>
					<div class="doctor-box">
						<p class="doctor__text">Люди преуменьшают опасность грибка стопы. Многие вообще не замечают первые симптомы или надеются, <span class="text-nowrap">что они</span> как-то пройдут сами.</p>
						<p class="doctor__text">Когда же проблема становится очевидной, <b>от грибка избавиться уже гораздо сложнее.</b> Приходится лечить
								<span class="text-nowrap">не одну</span> ногу, а обе. А в запущенных случаях грибок распространяется по всему организму.</p>
						<p class="doctor__text">Если подобрать препарат неправильно или не пройти<br> курс до конца, болезнь может вернуться. <b>Даже если<br> основные симптомы ушли, грибок может еще долго оставаться в организме и вновь вернуться при снижении иммунитета.</b> </p>
					<p class="doctor__text">Не так давно в продаже появился <b>крем Nomidol. Благодаря своему составу он глубоко проникает в слои кожи и борется с любой грибковой инфекцией.</b> Пользуйтесь кремом Nomidol дважды в день, тогда местный иммунитет будет восстанавливаться и грибок уйдет навсегда. Вы забудете о зуде, неприятном запахе, шелушении и сможете вернуться к нормальной жизни. Главное применяйте его не менее 30 дней.</p>
					</div>
			</div>
	</div>
</section>